@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&display=swap");
:root {
  --black: #333333;
  --white: whitesmoke;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: var(--white);
}
.container {
  width: 100%;
  text-align: center;
}

.center-container {
  display: flex;
  justify-content: space-around;
  min-height: 20vh;
  align-items: center;
  padding: 2rem;
  text-align: center;
  flex-direction: column;
}

.meaning {
  margin: 0.5rem 0;
  border-radius: 1rem;
}

.input {
  min-width: 50%;
  background-color: var(--white);
  border-radius: 1rem;
  border: 2px solid var(--black);
  color: var(--black);
  padding: 0.5rem 1rem;
}

.show-button {
  background-color: var(--white);
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 1rem;
}
.show-button::before {
  content: "> ";
}
.show-button:hover {
  border: 1px solid var(--black);
}

.App {
  padding: 1rem 3rem;
}

.emojis-container {
  background-color: var(--black);
  margin: 0.5rem auto;
  border-radius: 2rem;
  padding: 1.1rem;
  display: flex;
  flex-wrap: wrap;
}
.emoji {
  padding: 0.1rem;
}
